.blog{
    max-width: 100vw;
    background-color: #fafafa
    ;
    &_container{
        max-width: 65%;
        margin: 60px auto;
        &_head{
            display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      flex-direction: column;
      gap: 30px;
      span {
        font-size: 12px;
        color: #d4d3d325(255, 255, 255, 0.459);
      }
      p {
        color: #404044;
        font-size: 36px;
      }
        }
        &_cards{
            margin-top: 80px;
            display: flex;
            flex-wrap: wrap;
            gap: 80px;
            &_card{
                width: 340px;
                height: 460px;
                border: 1px solid #8b8b922a;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                justify-content: space-around;
                background-color: white;
                img{
                    width: 100%;
                    height: 60%;
                   object-fit: cover;
                }
                .stars{
                    display: flex;
                    color: #ffb400
                    ;
                margin-top: 30px;               
                font-size: 13px;
             }
             .desc{
                color: black
                ;
                text-align: left;
                padding: 10px;
                font-weight: 700 !important ;
                font-size: 20px;

             }
             .bottom{
                display: flex;
                width: 100%;
                justify-content: space-around;
                
             }

            }
        }
    }
}